@import smart-grid
@import ../libs/slick.css
@import ../libs/slick-theme.css

+reset()
=myflex()
  display: flex
  align-items: center
.top
  width: 100%
  height: 50px
  background-color: #4286f4
  color: #fff
  +row-flex
  .top-inwrapper
    width: 80%
    margin: auto
    +myflex
    justify-content: space-between

    .city
    .menu
      ul
        +myflex
        justify-content: center
        li
          list-style: none
          padding: 10px
header
  .white
    color: #575959
    .white-in-wrapper
      padding-top: 50px
      width: 80%
      margin: auto
      +myflex()
      justify-content: space-between
      .block1
        
        +size(5)
        
        .line1
          width: 100%
          +myflex()
          justify-content: space-between
          .about
            .text
              text-decoration: underline
          .calc
            .text
              display: flex
              align-items: center
              text-decoration: underline
              i
                color: #4286f4
                font-size: 23px
                margin-right: 10px
        .telephones
          padding-top: 30px
          font-size: 20px
          +myflex()
          i
            font-size: 45px
            color: #4286f4
            margin-right: 15px
          .tel1
            margin-right: 15px
            small
              color: #4286f4
              border-bottom: 1px dashed #4286f4
              font-size: 14px
          .tel2
            margin-top: -23px
      .block2
        +size(3)
        .tel
          font-size: 26px
          color: #4286f4
      .block3
        +size(4)
  .bgimg
    margin-top: 50px
    width: 100%
    min-height: 600px
    background-image: url(../img/bg.jpg)
    background-repeat: no-repeat
    background-size: cover
    background-position: center top
    .change
      background-color: #fff
      width: 60%
      margin: auto
      border-radius: 0 0 15px 15px
      min-height: 37px
      ul
        padding-left: 20px
        padding-right: 20px
        +myflex()
        li
          list-style: none
          color: #000
          margin-left: 10px
          margin-right: 10px
    .discounts
      text-align: right
      margin-right: 20%
      margin-top: 2%
      .line1
        font-size: 70px
        color: #4286f4
      .line2
        font-size: 30px
        color: #f46309
        span
          font-size: 70px
      .line3
        font-size: 25px
        color: #4286f4
      .line4
        font-size: 20px
        color: #575959
      .more
        margin-top: 20px
        background-color: #fff
        color: #4286f4
        border: 1px solid #4286f4
        border-radius: 10px
        padding: 13px 15px
main
  .advantages
    color: #575959
    width: 70%
    margin: 30px auto
    h1
      font-size: 20px
      margin-bottom: 25px
    p
      font-size: 18px
    .items
      margin-top: 40px
      +myflex()
      justify-content: space-between
      flex-wrap: wrap
      .item
        width: 48%
        +myflex()
        margin-bottom: 15px
        i
          font-size: 35px
          color: #4286f4
          margin-right: 15px
        p
  .wrap-slider
    overflow: hidden
    width: 100%
    box-shadow: 0 0 30px rgba(0,0,0,0.5)
    .topband
      width: 100%
      height: 50px
      margin: 5px 5px
      background-color: #dee2e2
      +myflex()
      nav
        width: 70%
        margin: auto
        ul
          +myflex()
          justify-content: space-between
          li
            a
              text-decoration: none
  .slider
    width: 70%
    margin: 30px auto
    +myflex()
    i
      font-size: 130px
      color: #c8d1d1
    //.slick-next
      //left: 10px
    //color: #fff

    img
      margin: 0 15px
  .thebest
    width: 70%
    margin: 40px auto
    font-size: 18px
    +myflex()
    .thetext

      +size(6)
      ul
        li
          color: #575959
          margin-top: 20px
    .images
      +size(6)
      +myflex()
      justify-content: space-between
  .windows-items
    display: flex
    align-items: flex-start
    justify-content: space-between
    width: 70%
    margin: auto
    .item
      img
        margin-top: 20px
      .price
        font-size: 25px
        color: #d15f36
        b
  .wrapper-advantages-items
    width: 60%
    margin: auto
    h1
      font-size: 26px
      color: #575959
    .advantages-items
      margin-top: 25px
      +myflex()
      flex-wrap: wrap
      justify-content: space-between
      .item
        margin-bottom: 40px
        +myflex()
        +size(6)
        .circle
          min-width: 70px
          min-height: 70px
          margin-right: 15px

          border: 1px solid #575959
          border-radius: 100%
          +myflex()
          justify-content: center
          i
            font-size: 45px
            color: #575959
        .text
          .title
            color: #474743
          .maintext
            color: #7c7c76
  .bigband
    width: 100%
    height: 50px
    background-color: #e5e5e5

